<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap slideshow</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Bootstrap slideshow" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d6d6d6;margin:auto">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/machine.jpg" alt="machine" title="machine" id="wows1_0"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/pipingeng.jpg" alt="javascript photo gallery" title="piping-eng" id="wows1_1"/></a></li>
		<li><img src="data1/images/refinery.jpg" alt="refinery" title="refinery" id="wows1_2"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="machine"><span><img src="data1/tooltips/machine.jpg" alt="machine"/>1</span></a>
		<a href="#" title="piping-eng"><span><img src="data1/tooltips/pipingeng.jpg" alt="piping-eng"/>2</span></a>
		<a href="#" title="refinery"><span><img src="data1/tooltips/refinery.jpg" alt="refinery"/>3</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">bootstrap slideshow</a> by WOWSlider.com v8.8</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>